Filter [Sayya's Item Filter]

Version [2.71]
LastUpdate [7.6.2019]
PoEVersion [3.7.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1260712]
SmartBlocks on
SmartColors on

Presets
	Preset "Default" DEFAULT [sayya_default] [https://raw.githubusercontent.com/SayyadinaAtreides/sayya-poe-filter/master/sayya_default.filter]
	Preset "Strict" [sayya_strict] [https://raw.githubusercontent.com/SayyadinaAtreides/sayya-poe-filter/master/sayya_strict.filter]
	Preset "No hide - outdated" [sayya_nohide] [https://raw.githubusercontent.com/SayyadinaAtreides/sayya-poe-filter/master/sayya_nohide.filter]
