Filter [Sayya's Item Filter]

Version [2.21]
LastUpdate [2.3.2017]
PoEVersion [2.6.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1260712]
SmartBlocks on
SmartColors on

Presets
	Preset "Default" DEFAULT [sayya_default] [https://raw.githubusercontent.com/SayyadinaAtreides/sayya-poe-filter/master/sayya_default.filter]
	Preset "No hide" [sayya_nohide] [https://raw.githubusercontent.com/SayyadinaAtreides/sayya-poe-filter/master/sayya_nohide.filter]
